.kotak {
    text-align: right;
    background-color: grey;
    padding: 10px;
}

.informasi {
    text-align: center;
}

.kotak2{
    text-align: center;
    background-color: grey;
    padding: 10px;
}

.kontak {
    text-align: center;
}